@media (max-width: 1380px) {

  .features-content .table td:last-child {
    padding-left: 1.9rem;
  }

}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

  html {
    font-size: 14px;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .features-item {
    padding: 3%;
  }

  .features-content .table td:last-child {
    padding-left: 0;
  }

  .testimonials-item {
    padding: 25px!important;
  }


}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {

  h1,
  h2 {
    font-size: 3rem;
  }

  .header-widget {
    margin-left: 2rem;
  }

  .promo {
    padding: 220px 0 110px;

    &-title {
      max-width: 400px;
      font-size: 3rem;
      text-shadow: none;
    }

    &-desc {
      font-size: 1.2em;
      font-weight: 700;
      text-shadow: none;
    }
  }

  .features {
    &-icon {
      display: none;
    }

    &-content .table td:last-child {
      padding-left: 1.5rem;
    }

  }

  .about-section > .container {
    max-width: none;
  }

  .testimonials {
    &-photo {
      width: 80px;
      height: 80px;
    }

    &-text {
      font-size: 1rem;
    }
  }

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 2.5rem;
  }

  .btn-group-lg>.btn,
  .btn-lg {
    font-size: 1rem;
  }

  .section {
    padding: 3rem 0;
  }

  .page-section {
    padding-top: 60px;
  }

  .header-top {
    display: none;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;

    &-nav {
      margin-top: 20px;
      text-align: center;

      .nav-item {
        margin-bottom: 10px;
      }

      .nav-link {
        display: inline-block;
      }
    }
  }

  .promo {
    padding: 120px 0 90px;
  }

  .features {
    &-item {
      padding: 30px;
    }

    &-icon {
      display: block;
    }
  }

  .testimonials {
    &-section > .container {
      max-width: none;
    }

    &-author {
      margin-bottom: 1.5rem;
    }
  }

  .contacts {
    width: 320px;
    padding: 30px;
  }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  h1,
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .section {
    padding: 2rem 0;
  }

  .page {
    &-section {
      padding-top: 60px;
    }

    &-photo {
      max-width: 100%;
      margin-left: 0;
    }
  }

  .promo {
    padding: 100px 0 80px;
    background-position: 35% center;

    &-title {
      max-width: 300px;
      font-size: 2rem;;
    }

    &-desc {
      font-size: 1rem;
    }
  }

  .features {
    &-item {
      padding: 25px 15px;
    }

    &-icon {
      margin-right: 15px;
    }
  }

  .services-item {
    margin-bottom: 1.5rem;
  }

  .map-section #map {
    position: static;
    height: 320px;
  }

  .contacts {
    width: 100%;
  }

  .copyright {
    text-align: right;
  }

  .webstudio {
    display: none;
  }

  .modal-body {
    padding: 1rem;
  }

}





